<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <!-- <p>
            {{ message }}
        </p>
        <input type="text" v-model="message">
        <pre>
            {{ $data }}
        </pre> -->

        <!-- <p>{{ message }}</p>
        <textarea v-model="message"></textarea> -->

        <!-- <label for="checkbox">{{ checked }}</label>    
        <input type="checkbox" id="checkbox" v-model="checked"> -->
        
        <!-- <label>Red</label>
        <input type="checkbox" value="Red" v-model="colors">

        <label>Green</label>
        <input type="checkbox" value="Green" v-model="colors">

        <label>Blue</label>
        <input type="checkbox" value="Blue" v-model="colors">

        <p>{{ colors }}</p> -->


        <!-- <input type="radio" id="red" value="Red" v-model="color">
        <label for="red">Red</label>

        
        <input type="radio" id="green" value="Green" v-model="color">
        <label for="green">Green</label>

        <input type="radio" id="blue" value="Blue" v-model="color">
        <label for="blue">Blue</label>

        <p>{{ color }}</p> -->

        <!-- <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
        </select>

        <p>{{ selected }}</p> -->

        <!-- <select v-model="selected" multiple>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
        </select>

        <p>{{ selected }}</p> -->
<!-- 
        <input type="text" v-model.trim="message">
        <input type="text" v-model="message">

        <pre>{{ $data }}</pre> -->

        <input type="number" v-model.number="age">
        {{  age + 10 }}
            
    </div>
    <script src = "https://unpkg.com/vue@3.1.5"></script>
    <script src="https://unpkg.com/axios@0.21.1/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.js"></script>
    <script src="js/main.js"></script>
</body>
</html>